<!DOCTYPE html>
<html lang="en" ng-app="samplechat">

<head>
    <meta charset="utf-8">
    <meta name="Nijanthan L." content="">
    <title>Sample Chat</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- <link href="chat-module/chat-app.css" rel="stylesheet" type="text/css"> -->

    <link href="css/uni-chat.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="SampleAppController">
    <h1>Sample Chat</h1>
    <button ng-click="buttonClickAtoB()">Chat A with B</button>
    <button ng-click="buttonClickBtoA()">Chat B with A</button>
    <uni-chat-container></uni-chat-container>

    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-websocket/dist/angular-websocket.min.js"></script>

    <!-- <script src="chat-module/module.js"></script>
    <script src="chat-module/constants.js"></script>
    <script src="chat-module/provider.js"></script>
    <script src="chat-module/directives.js"></script>
    <script src="chat-module/factories.js"></script> -->

    <script src="js/uni-chat.js"></script>

    <script src="app.js"></script>

</body>

</html>