<!DOCTYPE html>
<html lang="en" ng-app="samplechat">

<head>
    <meta charset="utf-8">
    <meta name="Nijanthan L." content="">
    <title>Sample Chat</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <!-- Universal Chat CSS -->
    <link href="css/uni-chat.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="SampleAppController">
    <h1>Sample Chat</h1>
    <button ng-click="buttonClickAtoB()">Chat A with B</button>
    <button ng-click="buttonClickBtoA()">Chat B with A</button>
    
    <!-- Universal Chat Container -->
    <uni-chat-container></uni-chat-container>

    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-websocket/dist/angular-websocket.min.js"></script>

    <!-- Universal Chat JS -->
    <script src="js/uni-chat.js"></script>

    <script src="app.js"></script>

</body>

</html>